
.button{
    border:none;
    outline:none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
    padding: 20px 35px;
    color:#FAFAFA;
}
.header-button{
    border: 4px solid #FAFAFA;
    font-size: 16px;
    line-height: 18px;
    border-radius: 185px;
    margin:15px 10px 15px 0;
    background-color: transparent;
    padding: 15px 20px;
}
.content-button{
    font-size: 30px;
    line-height: 35px;
    background-color: #108A0E;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
}
.header-button:hover{
    border-color:#CACACA; 
}
.header-button:active{
    background-color:rgba(250, 250, 250, 0.26); 
}
