.content-block-wrap{
    background: #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 20px 20px 0;
    min-height: 250px;
}
.content-block-wrap-main{
    padding: 40px 40px 0 40px;
    margin: 0;
    min-width: 700px;
}
.content-block-header{
    font-size: 25px;
    line-height: 29px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    margin-bottom: 20px;
}
.content-block-header-main{
    font-size: 36px;
    line-height: 42px;
    min-width: 540px;
    width: min-content;
}
.content-block-body{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}