.header-menu{
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: max-content;
    min-width: 300px;
    height: 100%;
    font-size: 16px;
    line-height: 18px;
    color: #FAFAFA;
}
.header-menu-wrap{
    flex-grow: 2;
}
.header-menu-item{

    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}
.header-menu-item:hover{
    background: rgba(250, 250, 250, 0.2);
}
.header-menu-item::after{
    content: '';
    display: inline-block;
    height: 30px;
    width: 1.5px;
    background: #FAFAFA;
    margin: 0 0 0 10px;
}
.header-menu :last-child::after{
    display: none;
}
a{
    text-decoration: none;
    color:#FAFAFA;
}