.header{
    padding: 0 0 0 10%;
    top:0;
    right:0;
    height: 110px;
    display: flex;
    align-items: center;
    min-width: 675px;
    background: #5574AF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}
.header-logo-block__logo{
    display: block;
}
.header-logo-block{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.header-logo-block__logo{
    width:58px;
    height: 50px;
    background-color: #B52929;
}