.content-body-wrap{
    padding:35px 0 35px 10%;
    background-color: #DEDEDE;
    flex-grow: 2;
    display: flex;
    flex-flow: wrap-reverse;
    max-width: 90%;
}
.content-body-main{
    display: flex;
    flex-flow: wrap;
    max-width: 800px;
}
.content-body-other{
    display: flex;
    justify-content: space-between;
}
@media  (min-width: 1250px){
    .content-body-main{
        margin-right: 40px;
    }
    .content-body-other{
        flex-direction: column;
        max-width: 250px;
    }
}
@media  (max-width: 1250px){
    .content-body-main{
        margin-bottom: 40px;
    }
    .content-body-other{
        flex-direction: row;
    }
}